:root {
  /* Colors */
  --color-white: #FFFFFF;
  --color-black: #191919;
  --color-accent: #7352FF;

  /* Fonts */
  --font-family-base: "Roboto", sans-serif;

  /* Font Weights */
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --transition: 0.2s ease;
}